@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background-color:#313131;
    --text-color:white;
    --primary-color:#2eaa34;
    --secondary-color:#45565e;
    --accent-color:#1d7221;
    --error-color:#ff3b55;
}

html{
    font-size: 6.25%;
    color: var(--text-color);
}

body{
    font-size: 16rem;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(img/background.png);
    background-size: cover;
}

.headings{
    margin: 80px;
    font-size: 20rem;
}

.text{
    font-size: 18rem;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--text-color);
}

.logo{
    width: 30px;
}